
a{
    text-decoration: none;
    
}
a:hover{
    text-decoration: none;
    color: #82B92E;
}

#questionVue{
 position: inherit;
    float: left;   
}

#navBar:hover {
    background-color: #090909;
    list-style: none;
}

#answerBox{
    float: left;
    position: inherit;
    height: 600px;
    width: 700px;
    background-image: url(scroll2.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 20px;
    margin-top: 100px;
}
#answerWords{
    width: 270px;
    margin-left: 190px;
    margin-top: 90px;
}
/*change this back to 800 margin-left*/
.pushNavItems{
    margin-left: 800px;
}

#navBar{
    margin-top: -5px;
    height: 100px;
    width: 100%;
    background-color: transparent;
    position: fixed;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

/*margin left was 800*/
#footerList{
    text-decoration: none;
    list-style: none;
    margin-left: 800px;
    margin-top: 1px;
    bottom: 0;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#Home{
    position: relative;
    top: 130px;
    margin-left: 300px;
    height: 800px;
    width: 600px;
    background-image: url(rule.png);
}

#homeWriting{
padding-top: 120px;
padding-left: 70px;
width: 380px;    
}

#downBelow:hover{
    background-color: #090909;
}

#downBelow{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 20px;
    background-color: transparent;
    height: 60px;
}

#mainBody {
    margin-top: -25px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(weights.jpg);
    height: 1000px;
    width: auto;
    position: inherit;
    
}

#journey{
    font-size: 150%;
    margin-left: 20px;
    float: left;
    list-style: none;
    color: white;
}

.dropdown-content a:hover {
    background-color: #82B92E;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}


.questione{
    margin-left: 20px;
    float: left;
    width: 200px;
}

.questionn{
    width: 199px;
    float: left;
}

#detail::placeholder{
    color: aliceblue;
}

#questionBox {
    position: inherit;
    top: 100px;
    float: left;
    width: 500px;
    height: 300px;
}

#detail{
    text-decoration-color: aliceblue;
    background-color: grey;
    width: 400px;
    height: 100px;
    margin-left: 20px;
    float: left;
}

#wholeQuestion{
    height: 700px;
    width: 400px;
    position: inherit;
    margin-top: 125px;
    margin-left: 120px;
    
}

#nutrition{
    position: inherit;
    top: 100px;
    color: white;
    padding-top: 200px;
/*    background-color:rgba(0, 0, 0, 0.5);*/
}

#questions{
    position: relative;
    width: 100%;
    font-weight: bold;
    color: white;
    background-color:rgba(0, 0, 0, 0.5);
    margin-top: 100px;
    
}
.rugby{
    color: white;
    font-size: 150%;
}

#protips{
    height: 600px;
    position: relative;
    top:250px;
    left: 50px;
    height: 700px;;
    width: 80%;
    color: white;
/*    background-color:rgba(0, 0, 0, 0.5);*/
    background-image: url(rugby.jpg);
    opacity: 0.8;
    background-repeat: no-repeat;
    background-size: cover;
}

.dropdown-content {
display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

li.dropdown {
  display: inline-block;
}

#journey:hover .dropdown-content {
  display: block;
}

.navItem {
    font-size: 150%;
    margin-top: 27px;
    margin-left: 20px;
    float: left;
    list-style: none;
    color: white;
      
}

